@model IEnumerable<WebApiNetCore.Web.Models.CategoriesModel>
@{
    ViewData["Title"] = "Categories Page";
}

<div class="text-center">
    <h2>Categories</h2>
</div>

@if (Model == null || !Model.Any())
{
    <p>No categories available.</p>
}
else
{
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Category name</th>
                <th>Category descrip</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Item in Model)
            {
                <tr>
                    <td>@Item.Id</td>
                    <td>@Item.CategoryName</td>
                    <td>@Item.CategoryDescrip</td>
                    <td>@Item.CreateDate</td>
                </tr>
            }
        </tbody>
    </table>
}